* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

*:hover {
  scrollbar-width: thin;
  scrollbar-color: #333 #1a1a1a;
}

*:hover::-webkit-scrollbar {
  display: block;
  width: 4px;
}

*:hover::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 2px;
}

*:hover::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
}

*:hover::-webkit-scrollbar-thumb:active,
*:hover::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body.light *:hover {
  scrollbar-color: #999 #f0f0f0;
}

body.light *:hover::-webkit-scrollbar-track {
  background: #f0f0f0;
}

body.light *:hover::-webkit-scrollbar-thumb {
  background: #999;
}

body.light *:hover::-webkit-scrollbar-thumb:active,
body.light *:hover::-webkit-scrollbar-thumb:hover {
  background: #777;
} 